<ion-view view-title="تغییر گذرواژه">

    <!--<ion-nav-bar class="bar-positive" align-title="right">-->
    <!--<ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>-->
    <!--</ion-nav-bar>-->

    <ion-nav-bar class="bar-positive" align-title="right">
        <ion-nav-buttons side="left">
            <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content class="login-box">
        
        <div class="padding login">
            <h4 style="text-align:center">{{userFullName}}</h4>
            <div class="list">

                <h6 style="text-align:right" class="raykam-farsi-font">
                    <i class="icon ion-android-bulb" style="color:#ff6a00"></i>
                    گذرواژه باید حداقل 6 کارکتر داشته باشد
                </h6>

                <ion-md-input ng-model="setPasswordInput.NewPassword" placeholder="گذرواژه" hightlight-color="positive" type="password"></ion-md-input>

                <ion-md-input ng-model="setPasswordInput.ConfirmPassword" placeholder="تایید گذرواژه " hightlight-color="positive" type="password"></ion-md-input>

            </div>
        </div>
        <div class="padding">
            <button ng-click="setPassword()" class="button button-full button-positive ink" ng-disabled="setPasswordInput.NewPassword!=setPasswordInput.ConfirmPassword || setPasswordInput.NewPassword.length<6 ">ورود</button>
        </div>
    </ion-content>
</ion-view>